body {
    background-color: #e5e5f7;
    font-family: 'Segoe UI', sans-serif;
}

.profile-container {
    max-width: 800px;
    margin: 2rem auto;
    background: #dddbee;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #8881e1;
}

.underline-heading {
    border-bottom: 3px solid #414bd2;
    width: 100%;
    margin-bottom: 1rem;
}

.form-label {
    font-weight: 500;
    color: #555;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.form-control {
    border-radius: 10px;
}

.section-title {
    font-weight: 700;
    font-size: 1.25rem;
    border-bottom: 3px solid #414bd2;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.btn-edit {
    font-weight: bold;
    color: #000;
    border: none;
}

.btn-upload-custom {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 3px 10px;
    background-color: #414BD2;
    color: white;
    font-size: 0.8rem;
    border: none;
    z-index: 2;
}

input.form-control.pe-5 {
    padding-right: 5rem;
    /* reserve space for button inside input */
}


.btn-upload-custom:hover {
    background-color: #333ec2;
    color: #ffffff;
}

.btn-upgrade {
    background-color: #414bd2;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.social-icons a {
    font-size: 1.3rem;
    margin-right: 1rem;
    color: #333;
}

.social-icons .fa-facebook {
    color: #3b5998;
}

.social-icons .fa-instagram {
    color: #e1306c;
}

.social-icons .fa-whatsapp {
    color: #25d366;
}

.social-icons .fa-x-twitter {
    color: #000;
}

.social-icons i {
    font-size: 1.5rem;
    position: relative;
}

.linked-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #28a745;
    /* Bootstrap green */
    border-radius: 50%;
    border: 2px solid #fff;
}



.btn-primary-custom {
    background-color: #414BD2;
}

.btn-primary-custom:hover {
    background-color: #333ec2;
}